{% extends 'layouts/theme.base.html' %}

{% load static %}


{% block content %}
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 page-title">
                    <h1>Blog</h1>
                </div>
            </div>
        </div>
        <div class="container post-list">
            <div class="row">
                <div class="col-6">
                    <div class="post">
                        <div class="post-img">
                            <img src="http://lineops-crewing.com/111.png" height="550px" alt="">
                        </div>
                        <div class="col-12 p-3">
                            <div class="post-content">
                                <a href="/" class="post-link">
                                    <h2 class="post-title">✈️🌟 The Future of Air Travel: AI Innovations Reshaping Canadian Airlines' Scheduling Processes 🇨🇦🚀</h2>
                                </a>
                                <div class="post-time">May 11, 2025</div>
                                <p class="post-description">
                                    As we soar into the future of air travel, technology is propelling us into an era of enhanced efficiency and customer satisfaction. Leading the charge are Canadian airlines, harnessing the power of Artificial Intelligence (AI) to revolutionize scheduling processes. Let’s explore how these innovations are reshaping the way we fly! 🛩✨</p>
                                <a href="/" class="post-more">Read Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="post">
                        <div class="post-img">
                            <img src="http://lineops-crewing.com/222.png" height="550px" alt="">
                        </div>
                        <div class="col-12 p-3">
                            <div class="post-content">
                                <a href="/" class="post-link">
                                    <h2 class="post-title">️📊 Predictive Analytics in Aviation: The Role of AI in Optimizing Canadian Flight Operations 🇨🇦✨<</h2>
                                </a>
                                <div class="post-time">May 11, 2025</div>
                                <p class="post-description">
                                    As the aviation industry evolves, the focus on efficiency and customer satisfaction becomes paramount. Enter predictive analytics powered by Artificial Intelligence (AI)—a game-changing tool that Canadian airlines are leveraging to optimize flight operations. Let’s dive into how this technology is reshaping the skies! 🚀🌥</p>
                                <a href="/" class="post-more">Read Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="post">
                        <div class="post-img">
                            <img src="http://lineops-crewing.com/333.png" height="550px" alt="">
                        </div>
                        <div class="col-12 p-3">
                            <div class="post-content">
                                <a href="/" class="post-link">
                                    <h2 class="post-title">️✨ Elevating Efficiency: How AI Is Transforming Flight Scheduling for Canadian Airlines 🇨🇦🌟</h2>
                                </a>
                                <div class="post-time">May 13, 2025</div>
                                <p class="post-description">
                                    In the dynamic world of aviation, efficiency is key! Canadian airlines are harnessing the power of Artificial Intelligence (AI) to revolutionize flight scheduling, optimizing operations and enhancing passenger experiences. Let’s explore how AI is elevating the industry! 🚀🇨🇦 </p>
                                <a href="/" class="post-more">Read Post</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!--<div class="post">-->
                    <!--    <div class="post-img">-->
                    <!--        <img src="{% static '/img/p6.jpg' %}" alt="">-->
                    <!--    </div>-->
                    <!--    <div class="col-12 p-3">-->
                    <!--        <div class="post-content">-->
                    <!--            <a href="/" class="post-link">-->
                    <!--                <h2 class="post-title">This is my latest exploration of Pickolab</h2>-->
                    <!--            </a>-->
                    <!--            <div class="post-time">October 11, 2024</div>-->
                    <!--            <p class="post-description">-->
                    <!--                This is my latest exploration of Pickolab Presenting today’s design exploration by-->
                    <!--                Repan.-->
                    <!--                Through intuitive layout and visually appealing ...</p>-->
                    <!--            <a href="/" class="post-more">Read Post</a>-->
                    <!--        </div>-->
                    <!--    </div>-->
                    <!--</div>-->
                </div>
                
            </div>
        </div>

    </section>
{% endblock %}

{% block footer %}
    <script>
        $('document').ready(() => {
            $('.app-header').addClass('scrolled');
        });
    </script>
{% endblock %}