{% extends 'layouts/theme.base.html' %}

{% load static %}


{% block content %}

    <section>
        <div class="container post-list">
            <div class="row">
                <div class="col-12">
                    <div class="post">
                        <div class="post-img">
                            <img src="{% static '/img/img1.jpg' %}" alt="">
                        </div>
                        <div class="col-12 p-3">
                            <div class="post-content">
                                <a href="/" class="post-link">
                                    <h2 class="post-title">This is my latest exploration of Pickolab</h2>
                                </a>
                                <div class="post-time">October 11, 2024</div>
                                <p class="post-description">
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing
                                    This is my latest exploration of Pickolab Presenting today’s design exploration by
                                    Repan. Through intuitive layout and visually appealing </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block footer %}
    <script>
        $('document').ready(() => {
            $('.app-header').addClass('scrolled');
        });
    </script>
{% endblock %}